h1 {
    font-size: 45px;
}

.center {
    text-align: center;
}

body {
    background-color: rgb(158, 160, 160);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
    padding: 14px 25px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
}

a:link {
    color: red;
    text-decoration: none;
}

a:hover {
    color: rgb(44, 46, 194);
    text-decoration: underline;
}

a:active {
    color: blue;
    text-decoration: underline;
}

.product-list {
    width: 60px;
    margin: 0 auto;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

::marker {
    unicode-bidi: isolate;
    font-variant-numeric: tabular-nums;
    text-transform: none;
    text-indent: 0px !important;
    text-align: start !important;
    text-align-last: start !important;
}

.product {
    padding-top: 11px;
}

* {
    margin: 0;
    padding: 0;
}

main {
    display: block;
}

.tac {
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.products li {
    text-align: center;
    margin: 75px auto;
}

li {
    text-align: center;
}

ol {
    list-style-type: decimal;
}

article {
    background: rgb(71, 73, 187);
    border-radius: 7px;
    padding: 15px;
    margin: 10px auto;
}

article {
    display: block;
}

.txt-title {
    margin: 15px auto;
    color: rgb(1, 17, 22);
    text-transform: capitalize;
    font-weight: 600;
    font-size: 0.9em;
}

h3 {
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.img9 {
    width: 400px;
    height: 300px;
}

.seconddiv {
    text-align: center;
    margin-top: 20px;
}